*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated
.apt_generated/
atlassian-ide-plugin.xml
.autotools
*.bak
bin/
*.box
build/
.buildpath
.cache
.cache-main
celerybeat-schedule
*.class
.classpath
cmake-build-*/
.com.apple.timemachine.donotpresent
com_crashlytics_export_strings.xml
*.cover
.coverage
.coverage.*
coverage.xml
.cproject
crashlytics-build.properties
crashlytics.properties
db.sqlite3
develop-eggs/
.directory
dist/
.dmypy.json
dmypy.json
docs/_build/
.DocumentRevisions-V100
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
.externalToolBuilders/
fabric.properties
.factorypath
.fseventsd
.fuse_hidden*
htmlcov/
.hypothesis/
Icon
.idea/
.idea/caches/build_file_checksums.ser
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/httpRequests
.idea/**/libraries
.idea/misc.xml
.idea_modules/
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/**/shelf
.idea/sonarlint
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
*.iml
.installed.cfg
instance/
*.ipr
*/.ipynb_checkpoints/*
.ipynb_checkpoints
ipython_config.py
*.iws
*.launch
lib/
lib64/
.loadpath
local.properties
local_settings.py
*.log
.LSOverride
*.manifest
MANIFEST
.metadata
*.mo
modules.xml
.mr.developer.cfg
.mypy_cache/
.netrwhist
Network Trash Folder
.nfs*
*~.nib
nosetests.xml
.nox/
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
*.pot
profile_default/
.project
__pycache__/
*.py[cod]
*.pydevproject
.pydevproject
.pyre/
.pytest_cache/
.Python
.python-version
.recommenders
.recommenders/
.ropeproject
*.sage.py
[._]s[a-rt-v][a-z]
[._]*.s[a-v][a-z]
.scala_dependencies
.scrapy
sdist/
Session.vim
Sessionx.vim
.settings/
share/python-wheels/
/site
*.so
*.spec
.Spotlight-V100
.springBeans
.spyderproject
.spyproject
[._]ss[a-gi-z]
.sts4-cache/
[._]*.sw[a-p]
[._]sw[a-p]
*.swp
tags
.target
target/
.TemporaryItems
Temporary Items
.tern-project
.texlipse
*.tmp
tmp/
.tox/
.Trash-*
.Trashes
[._]*.un~
.vagrant/*
var/
.venv
venv/
venv.bak/
.vim
.VolumeIcon.icns
.webassets-cache
wheels/
.worksheet
*.BAK
